# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Bin/
Source/PinnedDownServer/PinnedDownServer.opensdf
Source/PinnedDownServer/PinnedDownServer.sdf
Source/PinnedDownServer/PinnedDownServer.v11.suo
Source/PinnedDownServer/PinnedDownServer.v12.suo
Source/PinnedDownServer/PinnedDownServer/PinnedDownServer.vcxproj.user
Source/PinnedDownGameplay/PinnedDownGameplay/PinnedDownGameplay.vcxproj.user
Source/PinnedDownTests/PinnedDownTests/PinnedDownTests.vcxproj.user
Obj/
Source/PinnedDownServer/PinnedDownServer/PinnedDownServerAnalytics.h
